{% extends 'base.html' %}
{% block main %}

<!-- Post Content Column -->
<div class="col-lg-8">

  <!-- Title -->
  <h1 class="mt-4">{{ post.title }}</h1>

  <!-- Author -->
  <p class="lead">
    by
    <a href="#">{{ post.author }}</a>
  </p>

  <hr>

  <!-- Date/Time -->
  <p>{{ post.created_time }}</p>

  <hr>

  <!-- Preview Image -->
  <!--<img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">-->

  <!-- Post Content -->
  {{ post.content }}

  <hr>

  <!-- Comments Form -->
  <div class="card my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">

      <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
      {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.name.id_for_label }}">名字：</label>
          {{ form.name }}
          {{ form.name.errors }}

          <label for="{{ form.email.id_for_label }}">邮箱：</label>
          {{ form.email }}
          {{ form.email.errors }}

          <label for="{{ form.content.id_for_label }}">评论：</label>
          {{ form.content }}
          {{ form.content.errors }}
          <!--<textarea class="form-control" rows="3"></textarea>-->
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>

  <!-- Single Comment -->
  {% for comment in comment_list %}
  <div class="media mb-4">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    <div class="media-body">
      <h5 class="mt-0">{{ comment.name }}</h5>
        {{ comment.content }}
    </div>
  </div>
  {% empty %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">Not Comment!</h5>
    </div>
  </div>
  {% endfor %}


</div>


{% endblock main %}